{% extends "bootstrap/base.html" %}
{% set logged_out_navigation_bar = [
    ('index', 'Home'),
    ('register', 'Register'),
] -%}
{% set logged_in_navigation_bar = [
    ('monkeys', 'Home'),
    ('logout', 'Sing out'),
] -%}
{% set navigation_bar = logged_in_navigation_bar
    if current_user.is_authenticated() else logged_out_navigation_bar -%}
{% set active_page = active_page|default('index') -%}

{% block title %}Fastmonkeys{% endblock %}

{% block head %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-chevron-down white"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">FastMonkeys</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                {% for id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{ url_for(id) }}">{{ caption|e }}</a></li>
                {% endfor %}
            </ul>
            {% if current_user.is_authenticated() %}
                <p class="navbar-text">Logged in as {{ current_user.name }}</p> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="template">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% set class = 'danger' if category == 'error' else category %}
        <div class="alert alert-{{ class }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        
        {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}
