{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "delete_profile" %}

{% block title %}{{ super() }} - Delete profile{% endblock %}

{% block page_content %}
<div class="page-header"><h1>{% block page_title %}Delete profile{% endblock %}</h1></div>
	    <p class="lead">Are you sure you want to delete your profile?</p>
	    {{ wtf.quick_form(form, extra_classes='form-delete-profile', button_map={'submit':'danger'}) }}
	    <a href="{{ url_for('index') }}" class="btn btn-info">Cancel</a>
{% endblock %}